.vc_row {
	margin-left: -21px;
	margin-right: -21px;
}
@media (max-width: 1199px) {
	.vc_row.disable-custom-paggings-tablet {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.vc_column_container.disable-custom-paggings-tablet > .vc_column-inner {
		padding-left: 21px !important;
		padding-right: 21px !important;
	}
}
@media (max-width: 767px) {
	.vc_row.disable-custom-paggings-mobile {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.vc_column_container.disable-custom-paggings-mobile > .vc_column-inner {
		padding-left: 21px !important;
		padding-right: 21px !important;
	}
}
.vc_row {
	margin-left: -21px;
	margin-right: -21px;
}
.vc_column_container > .vc_column-inner {
	padding-left: 21px;
	padding-right: 21px;
}
.vc_gitem_row {
	margin-left: 0;
	margin-right: 0;
}
/*
     FILE ARCHIVED ON 21:39:22 Aug 22, 2023 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:33:55 Mar 10, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.338
  exclusion.robots: 0.014
  exclusion.robots.policy: 0.008
  esindex: 0.008
  cdx.remote: 32.922
  LoadShardBlock: 137.06 (3)
  PetaboxLoader3.datanode: 324.986 (4)
  load_resource: 253.673
  PetaboxLoader3.resolve: 57.009
*/